[Unit]
Description=oscserver
Documentation=https://github.com/digitalinteraction/ResoundServer
After=network.target

[Service]
Type=simple
User=node
ExecStart=/usr/bin/node /usr/src/server/src/index.js serve
WorkingDirectory=/usr/src/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
